body{margin: 0; background-color: rgb(135, 206, 235);
  padding: 0;
font-family: 'Josefin Sans', sans-serif;}

h1{margin-top: 0; margin-bottom:0;   font-family: 'Square Peg', cursive; font-size: 55px;}
.TopContainer{
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-width: 10px;
  border-color: black;
}

.filler{
  height: 50px;
}

.GroundLevel{
  background-color: #362511
}

.Transition{
  background-image: linear-gradient(rgb(135, 206, 235), rgb(241, 225, 166));
}

.Stratosphere{
  background-image: linear-gradient(rgb(241, 225, 166), rgb(255, 95, 0, 0.6));
  text-align: center;
  margin: 0;
}

.Troposphere{
  background-image: linear-gradient(rgb(255, 95, 0, 0.6), rgb(178, 6, 0, 0.5));
  text-align: center;
  margin: 0;
}

.Final_Transition{
  background-image: linear-gradient(rgb(178, 6, 0, 0.5), #362511);
  text-align: center;
  margin: 0;
}
