body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

hr {
  border-style: dotted none none;
  border-width: 20px;
  border-color: white;
  width: 10%;
  padding: 30px;
  margin: 6em auto 6em auto;
}

h1 {
  margin-top: 0;
  padding: 20px 10px 20px 10px;
  margin-bottom: 10px;
  font-family: 'Square Peg', cursive;
  font-size: 7rem;
  color: #396A85;
  line-height: 2;
}

h2{
  margin: 10px 0 10px 0;
  font-size: 2rem;
  color: #396A85;
  padding: 20px 10px 20px 10px;
  font-weight: normal;
}

h3{
  margin: 0 auto 10px  auto;
  font-size: 1.5rem;
  color: #528BA7;
  padding: 20px 10px 20px 10px;
}

a{
  color: #528BA7;
}
p{
  padding: 10px;
}

.skill-row{
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.TopContainer {
  text-align: center;
  padding: 20px;
  margin: 0;
  border-width: 10px;
  border-color: black;
  background-color: rgb(135, 206, 235);
}

.Middlecontainer {
  text-align: center;
  padding: 30px 20px 30px 20px;
  margin: 0;
  background-image: linear-gradient(rgb(135, 206, 235), rgb(241, 225, 166), rgb(255, 95, 0, 0.6));
}

.bottom-container{
  text-align: center;
  padding: 20px;
  margin: 0;
  background-color: #362511;
}

.GroundLevel {
  margin: 0;
  background-color: #362511;
}

.profile {
  text-align: center;
  margin: 0;
}

.skills {
  text-align: center;
  margin: 0;
}

.image-cluster1{
  float: left;
  text-align: center;
  margin-right: 50px;
}

.image-cluster2{
  float: right;
  text-align: center;
  margin-left: 50px;
}
.skill_image{
  height: 60px;
  width: 60px;
  padding: 7px;
  border-radius: 35px;
  background-color: white;
  border-color: white;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Troposphere {
  background-image: linear-gradient(rgb(255, 95, 0, 0.6), rgb(178, 6, 0, 0.5));
  text-align: center;
  margin: 0;
}

.Final_Transition {
  background-image: linear-gradient(rgb(178, 6, 0, 0.5), #362511);
  text-align: center;
  margin: 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

#span{
  font-weight: bold;
}

.Ed_Skills{
  text-align: center;
  margin: auto;
}
